<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quiver</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="quiverApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="QuiverCtrl">
        <nav>
            <div class="menu btn-group background-color-000 full-width" qv-active='qv-active-route'>
                <div class="btn btn-small gears background-color-hover-1" ng-click="changeLocation('/settings')" qv-active-route="/settings"></div>
                <div class="btn btn-large background-color-hover-1" ng-click="changeLocation('/write')" qv-active-route="/write">Write</div>
                <div class="btn btn-large background-color-hover-1" ng-click="changeLocation('/read')" qv-active-route="/read">Read</div>
                <div class="btn btn-large background-color-hover-1" ng-click="changeLocation('/feeds')" qv-active-route="/feeds">Feeds</div>
                <div class="btn btn-large background-color-hover-1" ng-click="changeLocation('/interaction')" qv-active-route="/interaction">Interaction</div>
                <div class="btn btn-large background-color-hover-1" ng-click="changeLocation('/subscriptions')" qv-active-route="/subscriptions">Subscriptions</div>
                <a class="btn btn-large pull-right background-color-hover-3" href='/logout'>Log Out</a>
            </div>
        </nav>
        <div notification ng-click="hideNotifications()"></div>

        <div ng-view>

        </div>
    </div>

    <script src="components/angular-unstable/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/quiver.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/feeds.js"></script>
    <script src="scripts/services/stripeService.js"></script>
    <script src="scripts/directives/notification.js"></script>
    <script src="scripts/directives/qvActive.js"></script>
    <script src="scripts/directives/qvTable.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
