<div ng-controller="SettingsCtrl">
    <br>
    <div id="user-settings" class="panel">
        <div class="panel-heading">
            <span class="panel-heading-primary">User Settings</span>
        </div>
        <div class="panel-primary">
            <form name="userForm" class="clearfix">
                <div class="col-span-12">
                    <h4>Display Name</h4>
                    <input type="text" placeholder="email" ng-model="user.displayName"/>
                </div>

                <div class="col-span-12">
                    <h4>Email</h4>
                    <input type="email" placeholder="email" ng-model="user.emails[0].value"/>
                </div>

                <div class="col-span-3">
                    <button class="btn btn-large background-color-3" ng-click="saveUser(user)" ng-disabled="!userForm.$valid || userForm.$pristine" >Save User Settings</button>
                </div>
            </form>

        </div>
    </div>

    <br>
    <div id="billing" class="panel">
        <div class="panel-heading">
            <span class="panel-heading-primary">Billing</span>
        </div>
        <div class="panel-primary">

            <div class="callout col-span-12">
                <h4>14-Day Trial then $100/Month</h4>
                <hr class="background-color-6 mini-hr">
                <ul class="listing">
                    <li>
                        <div class="table-cell">
                            <div class="btn btn-small eye-white background-color-6 circle"></div>
                        </div>
                        <div class="table-cell full-width listing-centered">
                            14-Day Trial
                            <div class="sub">Your card will not be charged during the trial period</div>
                        </div>
                    </li>

                    <li>
                        <div class="table-cell">
                            <div class="btn btn-small thumbs-up background-color-6 circle"></div>
                        </div>
                        <div class="table-cell full-width listing-centered">
                            Keep Your Content
                            <div class="sub">Your account will stay active and you can continue to edit your content</div>
                        </div>
                    </li>

                    <li>
                        <div class="table-cell">
                            <div class="btn btn-small dollar-bill background-color-6 circle"></div>
                        </div>
                        <div class="table-cell full-width listing-centered">
                            Change Billing
                            <div class="sub">Use the form below to change your card</div>
                        </div>
                    </li>
                </ul>
            </div>

            <form name="cardForm" class="clearfix">
                <div class="col-span-12">
                    <h4>Card Number</h4>
                    <input type="text" placeholder="4242424242424242" ng-model="card.number" required/>
                </div>

                <div class="col-span-12">
                    <h4>Expiration Month</h4>
                    <span class="select-wrapper">
                        <select name="expiration-month" id="expiration-month" ng-model="card.month" ng-options="month.number as month.name for month in months" required></select>
                    </span>
                </div>

                <div class="col-span-12">
                    <h4>Expiration Year</h4>
                    <span class="select-wrapper">
                        <select name="expiration-year" id="expiration-year" ng-model="card.year" ng-options="year.value as year.value for year in years" required></select>
                    </span>
                </div>

                <div class="col-span-12">
                    <h4>Security Code (cvc)</h4>
                    <input type="text" placeholder="123" ng-model="card.cvc" ng-pattern="/\d{3,4}/" required />
                </div>

                <div class="col-span-3">
                    <button class="btn btn-large background-color-6" ng-click="saveSubscription('quiver100', card)" ng-disabled="!cardForm.$valid || !isValidCard(card) || cardForm.$pristine" >Subscribe</button>
                </div>
            </form>

        </div>
    </div>


    <br>
    <div id="stripe-keys" class="panel">
        <div class="panel-heading">
            <span class="panel-heading-primary">Stripe Keys</span>
        </div>
        <div class="panel-primary">
            <form name="stripeForm" class="clearfix">
                <div class="col-span-12">
                    <h4>Stripe Secret Key</h4>
                    <input type="text" placeholder="sk_live_RaNdOmNoNsEnSe" ng-model="user.stripe.secretKey"/>
                </div>

                <div class="col-span-12">
                    <h4>Stripe Publishable Key</h4>
                    <input type="text" placeholder="pk_live_RaNdOmNoNsEnSe" ng-model="user.stripe.publicKey"/>
                </div>

                <div class="col-span-3">
                    <button class="btn btn-large background-color-4" ng-click="saveStripe(user.stripe)" ng-disabled="!stripeForm.$valid || stripeForm.$pristine" >Save Stripe Settings</button>
                </div>
            </form>

        </div>
    </div>

</div>
