.left-nav {
  padding: 0;
}

#quiver-notifications {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  opacity: .97;
  z-index: 1000;

  .error {
    background-color: #e66f69;
  }

  .success {
    background-color: #5999a8;
  }
}

.filepicker {
  .dropzone {
    margin: 1em 0 !important;
    padding: 1em !important;
  }
}